﻿@model TitlesApp.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.7.7/babel.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="@Url.Content("~/node_modules/react-sanfona/dist/react-sanfona.js")"></script>

<div id="mount-point"></div>
<script src="@Url.Content("~/React/Home.jsx")"></script>
<script src="@Url.Content("~/React/TitleList.jsx")"></script>
@*<script type="text/jsx">
    /** @jsx React.DOM **/
    React.renderComponent(
    <h1>Hello, world!</h1>,
    document.getElementById('mount-point')
    );
</script>*@
@*React Scripts*@
